<p>
	<%= link_to image_tag("http://padherder.com" + @leader_details["image60_href"].to_s, :border => 0, :title => @leader.id.to_s + ". " + @leader.name), monster_path(@leader.id) %>
	<%= link_to image_tag("http://padherder.com" + @sub_details["image60_href"].to_s, :border => 0, :title => @sub.id.to_s + ". " + @sub.name), monster_path(@sub.id) %>
</p>

<p>Statistics</p>
<script>
	chart1(<%= @leader.id %>,<%= @sub.id %>);

</script>


<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>