<script>
	chart1(<%= @leader.id %>,<%= @sub.id %>,['since','monthly'],'#chart1','Ratings',1,5);
	chart1(<%= @leader.id %>,<%= @sub.id %>,['count'],'#chart2','Ratings Count',null,null);
</script>

<ul style="display: none;" class="nav nav-tabs">
  <li id="statistics" role="presentation" class="active"><a href="#">Statistics</a></li>
  <li id="comments" role="presentation"><a href="#">Comments</a></li>
  <li style="display: none;" id="history" role="presentation"><a href="#">History</a></li>
</ul>
<div id="statistics" class="page-tab">
	<div id="chart1" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
	<div id="chart2" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
</div>
<div id="comments" class="page-tab">
	Comments
</div>
<div style="display: none;" id="history" class="page-tab">
	History
</div>