$(document).ready(function(){
	$('select.tags').prop("disabled", true);
	$('div#edit.tags').show();
	$('div#update.tags').hide();
	$("select.tags").empty();
	<% @tags.each do |t| %>
		$("select.tags").append('<option selected="selected" value="<%= t %>"><%= t %></option>');
	<% end %>
	$("select.tags").trigger("change");
}); 

