<div class="center center-text">
	<h1>Search Monsters</h1>
</div>


<div class="body-search large_monster_input center ">
	<p><input id="monster_field" class="monster typeahead main form-control center" type="text" placeholder="Monster Name"></p>
</div>

<div class="front-page wrapper">
	<div class="front-page section">
		<%= render partial: 'monsters/index/fp1', locals: {votes: @latestVotes} %>
	</div>
	<div class="front-page section">
		<%= render partial: 'monsters/index/fp2', locals: {monsters: @topMonsters} %>
	</div>
	<div class="front-page section">
		<%= render partial: 'monsters/index/fp3', locals: {users: @topUsers} %>
	</div>
</div>	