
<div class="news-container">
	<div class="page-header news">
		<h1>About</h1>
	</div>
	<div class="content">
		<div class="news panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">About</h3>
		  </div>
		  <div class="panel-body">
			<p>PAD Rater was designed and created by a Puzzle and Dragons fan just like the rest of you.</p>
			<p>Just like how the PAD community has helped me so much, I would like to provide something in return.</p>
			<p>Web development is a side hobby of mine. I am an L2 support analyst full time.
			PAD Rater started as a side project, trying to make better use of my free time at work.</p>
			<p>PAD Rater is intended to be North America's community driven game8 with additional features.
			There are many posts on reddit asking what is the optimal team to use a specific leader especially after god fests.
			This site was created with the intention to address those questions.</p>
			<p>With a full time job, keeping content up to date is a difficult task. This is where the community comes in.
			Not only one or two individuals, but the entire community can make this all happen.</p>
		  </div>
		</div>
	</div>
	<div class="news panel panel-default">
	  <div class="panel-heading">
		<h3 class="panel-title">How it works</h3>
	  </div>
	  <div class="panel-body">
		<p>Use the search bar to search for a monster. Suggestions from the community will appear on the left column.</p>
		<ol> 
		<li>Suggested Subs - These are the subs that are recommended to use with the monster you have searched</li>
		<li>Leader/Leader Pairing - These are the leaders that are recommended to pair with if the monster you have selected will be the leader.</li>
		<li>Ratings as Sub - These ratings here indicate the synergy of the monster you selected with the listed leader.</li>
		</ol>
		<p>The bolded numbers indicate the weighted average for the indicated monster. The number in parenthesis displays the vote counts for the weighted average</p>
		<ol>
		<li>1 to 10 rating scale</li>
		<li>Users may submit a new vote for same pairings once a month</li>
		<li>You may update/correct your existing rating until the next month is up.</li>
		<li>Weighted average ratings are to keep up with the meta. The older the rating, the less it is worth compared to the newer ratings.</li>
		</ol>
		<br>
		<p>New suggestions can be made in the panels in the right column. Use Subs button to add to Suggested Subs, and Leader/Leader button to add to Leader/Leader Pairing.</p>
		<br>
		<p>Tags can be added to the monster which allows the monster to be searched by a particular tag</p>
		<br>
		<p>Click the ratings above a suggested monster icon to bring up a detailed ratings page as well as graphs that represents this monster's rating history.</p>
		<p>Specific pairing tags can be added here to show why the select monster works well in the pair (for example, delay, board changer)</p>
		<p>Comments can be left about the particular pairing.</p>
	  </div>
	</div>
	
	<div class="content">
		<div class="news panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Contact Us</h3>
		  </div>
		  <div class="panel-body">
			<p>There is currently no official email address for PAD Rater, but I can be contacted through <a href="https://www.reddit.com/user/cpxazn/">/u/cpxazn</a></p>
		  </div>
		</div>
	</div>

	<div class="content">
		<div class="news panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Credits</h3>
		  </div>
		  <div class="panel-body">
			<p>Credits to <a href="https://padherder.com/">PADherder</a> for the API and <a href="http://reddit.com/r/PuzzleAndDragons/">r/puzzleanddragons</a> for all of the suggestions/testing to make this site possible!</p>
		  </div>
		</div>
	</div>
</div>