/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.css
 *= require bootstrap-theme.css
 *= require_tree .
 *= require_self
 */
html {overflow-y: scroll;}
html, body { height: 100%;}
body { padding-top: 70px;}
body > .container , .content {overflow: hidden; }

/* Footer */
body > div.container {min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -50px;}
.push { height:50px;}
footer { height:50px; background:#000; color:#fff; }
@media screen and (max-width: 800px) {
	footer {
		display: none;
	}
}


textarea { resize: none; } 

div.left {
	float: left;
	clear: left;	
}
div.right {
	float: right;
	clear: right;
}
div.clear-left{
	clear: left;	
}
div.clear-right{
	clear: right;
}


div.clear {
	clear:both;
}

.center { margin: auto; }
.center-text { text-align: center; }

.center-image {
	display: block;
	margin: 0 auto;
}

div.border{border-width:1px !important; border-style:solid !important;}