// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.comment.comments { width: 90%; display:inline-block;}
div.comment.c-rating { width: 30px; display:inline-block; vertical-align:top;}
div.panel-footer.comment span { margin-right:10px;margin-left:10px; }