//Tags
div.tags.button-container  { 
	padding-left: 0px;
}
div#update.tags {
	display: none;
}
div#update-modale.tags {
	display: none;
}
select.tags {
	width:100% !important;
}
.monster-container .tags.section { margin-top: 10px; }
div.tags-container > .panel.left {
	width: 28%;
}
div.tags-container > .panel.right {
	width: 70.4%;
}

//Hide buttons on default for javascript disabled users
.btn.show-low.sub {
	display: none;
}

//Front page
table.front-page tr.center td,
table.front-page tr.center th {
	vertical-align:middle;
	text-align: center;
}
div.front-page.wrapper {
	overflow:hidden;
	text-align:center;
	
}
div.front-page.section {
	margin: 20px;
	display: inline-block;
	vertical-align: top;

}
div.front-page.section table {
	width: 100% !important;
}

//Scrollbar on modify vote
.vote.dropdown-menu {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100px;
}

//Monster Header
div.jumbotron.monster { overflow: hidden; }
.header-details > .panel {
	width: 48%;
	//display: inline-block;
	vertical-align: top;
}
.jumbotron .header-details {
	padding-top: 15px;
	overflow: hidden;
}
.jumbotron.monster .btn.monster-hide {
	display: none;
}


//Modal scrollbar and height
.modal-body {
	overflow-y: auto;
	max-height: 450px;
}
//Prevent page from shifting left when opening modal
.modal-open[style] {
	padding-right: 0px !important;
}
//Modal size
@media screen and (min-width: 768px) {
	
	#vote_details .modal-dialog  {width:1100px;}

}

//Remove padding from select div under suggestions
div.vote.select { 
	padding-left: 0px;
}

//Change main vote select dropdown height to 34 to match the buttons
select.vote {
	height: 33.5px;
}

//Smaller heading on the individual monster scores
.monster.panel-heading {
	padding: 4px 4px;
}

//Left and right margins and inline block for each suggested monster
.panel.monster {
	margin-left: 2px;
	margin-right: 2px;
	display:inline-block;
	vertical-align:top;
}


//Details Modale
ul.nav-tabs { padding-top: 10px;}
div.page-tab { padding-top: 10px;}
div.monster.details.summary { width:240px; }
div.panel-default.tags { width: 500px; overflow: hidden; }
div.panel-body.tags { overflow: auto;}
.panel-body.tags { max-height: 140px; }

//Width of the main vote dropdown
select.vote {
	width: 20%;
}

//Size of the suggested sub and leader divs
div.monster-container > .panel {
	width: 49.5%;
}

//Container that has the suggest sub and leaders, and make a suggestions
div.monster-container {
	width: 100%;
	overflow: hidden;
}


//Include scrollbars to monster containers
.monster-container.panel-body {
  overflow-y: auto;
  max-height:555px;
  padding-bottom:100px;
}

.dropdown {  overflow: visible !important;	}
//Size of the individual monster vote
.vote.dropdown-menu {

  min-width: 100% !important;
  width: 100% !important; 
}
.btn{
 width: 100% !important;
}

//Smaller monster search box
.small-monster-input {
	width: 400px;
}
//Larger monster search box
.large-monster-input {
	width: 598px;
}

//Always expand typeahead text box to max of div width
input.typeahead 	{ 
	width: 100% !important; 
}

//Size of div for search text field in index
.body-search {
	width:600px;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  overflow-y: auto;
  max-height: 250px;
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100%; }

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

	