// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.news-container { padding: 0 10em 0 10em; }
div.news-container small { float: right; }
div.news-container .panel-footer { overflow:hidden; }