<table class="table table-striped front-page">
	<thead>
		<tr class="center">
			<th colspan=4>Recent Activity</th>
		</tr>
	</thead>
	<thead>
		<tr class="center">
			<th>Leader</th>
			<th>Sub</th>
			<th>Score</th>
			<th>Updated</th>
		</tr>
	</thead>
	<% Vote.order(created_at: :desc).limit(5).each do |v| %>
		<tbody>
			<tr class="center">
				<td><%= link_to image_tag(Rails.application.config.img_path_monsters + fetch_monster_url_by_id_json(v.leader.id), :border => 0) , v.leader %></td>
				<td><%= link_to image_tag(Rails.application.config.img_path_monsters + fetch_monster_url_by_id_json(v.sub.id), :border => 0) , v.sub	 %></td>
				<td><%= v.score %></td>	
				<td><%= time_ago_in_words(v.created_at) %></td>
			</tr>
		</tbody>
	<% end %>
</table>
