<table class="table table-striped front-page">
	<thead>
		<tr class="center">
			<th colspan=2>Most Ratings</th>
		</tr>
	</thead>
	<thead>
		<tr class="center">
			<th>Leader</th>
			<th>Total Votes</th>
		</tr>
	</thead>
	<% Monster.top.each do |m| %>
		<tbody>
			<tr class="center">
				<td><%= link_to image_tag(Rails.application.config.img_path_monsters + fetch_monster_url_by_id_json(m.id), :border => 0) , m %></td>
				<td class="valign center"><%= m.votes_count %></td>
			</tr>
		</tbody>
	<% end %>
</table>
