<table class="table table-striped front-page">
	<thead>
		<tr class="center">
			<th colspan=4>Latest Comments</th>
		</tr>
	</thead>
	<thead>
		<tr class="center">
			<th>Leader</th>
			<th>Sub</th>
			<th>User</th>
		</tr>
	</thead>
	<% comments.each do |c| %>
		<tbody>
			<tr class="center">
				<td><%= link_to image_tag(fetch_monster_url_by_id_json(c.leader.id), :border => 0, title: c.leader.tooltip) , c.leader %></td>
				<td><%= link_to image_tag(fetch_monster_url_by_id_json(c.sub.id), :border => 0, title: c.sub.tooltip) , c.sub	 %></td>
				<td><%= link_to c.user.username, detail_monsters_path(leader_id: c.leader.id, sub_id: c.sub.id, tab: 2) + "#" + c.id.to_s %></td>	
			</tr>
		</tbody>
	<% end %>
</table>
