<table class="table table-striped table-border front-page">
	<thead>
		<tr class="center">
			<th colspan=4>Latest Leader/Leader Comments</th>
		</tr>
	</thead>
	<thead>
		<tr class="center">
			<th>Leader 1</th>
			<th>Leader 2</th>
			<th>User</th>
			<th>Time Ago</th>
		</tr>
	</thead>
	<tbody>
		<% comments.each do |c| %>
			<tr class="center">
				<td><%= link_to image_tag(fetch_monster_url_by_id_json(c.leader1.id), :border => 0, title: detailed_tooltip(c.leader1.id, nil, nil), alt: c.leader1.name, size: '60') , c.leader1 %></td>
				<td><%= link_to image_tag(fetch_monster_url_by_id_json(c.leader2.id), :border => 0, title: detailed_tooltip(c.leader2.id, nil, nil), alt: c.leader2.name, size: '60') , c.leader2 %></td>
				<td><%= link_to c.user.username, detail_monsters_path(leader_id: c.leader1.id, sub_id: c.leader2.id, tab: 2, type: "ll") + "#" + c.id.to_s %></td>
				<td><%= time_ago(c.created_at) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
