<div class="monster-list">
	<div class="panel panel-default">
		<div class="panel-heading">Voting Guidelines</div>
		<div class="panel-body">
			<table class="table table-striped">
				<thead>
					<tr>
					  <th colspan="2">You may submit a new vote once a month</th>
					</tr>
				</thead>
				<thead>
					<tr>
					  <th>Rating</th>
					  <th>Description</th>
					</tr>
				</thead>
				<tr><td>9</td><td>Great Sub</td></tr>
				<tr><td>7</td><td>Good Sub</td></tr>
				<tr><td>5</td><td>Viable Sub</td></tr>
				<tr><td>3</td><td>Not Recommended</td></tr>
				<tr><td>1</td><td>No Synergy</td></tr>
			</table>
		</div>
	</div>
</div>